/* General Demo Style */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
}

body, html {
  height: 100%;
  /*background: black;*/
}

h1 {
  border-bottom: solid 2px black;
  padding-bottom: 5px;
  display: inline;
  font-weight: bold;
}

.navbar {
  position: fixed;
  top: 0px;
  background: rgba(0, 0, 0, .9);
  color: white;
  width: 100%;
  padding: 10px;
  /*height: 60px;*/
  z-index: 100;
  /*overflow: clip;*/
}

.navbar a {
  /*float: right;*/
  padding: .7em;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  background: #3C6997;
}

.navbar .selected, a:hover.selected {
  background: #DAA520;
  color: black;
}

#home {
  min-height: 100%;
  display: flex;
  /*background: black;*/
  background-size: cover;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: url(' ./img/pexels-photo-698319.jpeg') no-repeat fixed;
  /*height: 100%;*/
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.row {
  display: flex;
}

.half-column {
    flex: 50%;
}

.quarter-column {
  flex: 25%;
  margin: auto 1em;
  max-width:100%;
  align-items: center;
}

.me-grid-container {
  /*display:grid;*/
  /*grid-template-columns: auto;*/
  flex: 45%;
}

.me-grid-item {

}

.me-text {
  display:flex;
}

#homebanner {
  margin-top: 10em;
  height: 450px;
  width: 100%;
  background-image: /*linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),*/ url("./img/homebackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: .85;
}

.newscontent {
  padding: 0 calc(50% - 550px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /*grid-auto-rows: minmax(min-content, max-content);*/
  grid-column-gap: 6px;
  grid-row-gap:6px;
  /*grid-template-columns: auto auto auto;*/
  /*grid-gap: 10px;*/
  /*background-color: #fff;*/
  /*color: #444;*/
  /*flex-flow: row wrap;*/
  /*background: black;*/
}

.newsitem {
  background-color: rgba(0,0,0,0.9)/*#444*/;
  /*color: black;*/
  height: auto;
  border-radius: 5px;
  padding: 20px;
  /*font-size: 150%;*/
}

.news-tag {
  color: #5ADBFF;
  text-transform: uppercase;

}

#me img, #headshot img {
    margin: 2em;
    max-width: 100%;
    max-height: 100%;
}

.quarter-column img {
  border: solid;
  /*vertical-align: middle;*/
  height: auto;
}

.intro {
  color:white;
  opacity: 1;
  margin: auto;
  font-size: 2em;
  text-align: center;
  width: 50%;
}

blockquote:first-line {
      font: 1.85em "Sketch Block";
      color: #DAA520/*#fff79e*/;
    }

blockquote:first-letter {
  font-size: 2.9em;
  text-transform: lowercase;
  /*float: left;*/
  line-height: .52em;
  /*margin-right: -18px;*/
  position: relative;
  z-index: 1;
}

blockquote > strong {
  margin-left: 8px;
  letter-spacing: 0;
  font: 2em "Museo 700";
  text-transform: uppercase;
  letter-spacing: 0;
  color: #DAA520/*#fff79e*/;
}


blockquote + b {
  /*float: right;*/
  margin-top: 10px;
  font: 1.6em CallunaRegular;
  letter-spacing: .15em;
}

blockquote + b:first-letter {
  color: #fff79e;
  font-size: 1.3em;
  font-style: italic;
  letter-spacing: .25em;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  /*font-size: 2.9em;*/
  line-height: 0.1em;
  /*margin-right: 0.25em;*/
  vertical-align: -0.4em;
}

blockquote:after {
  color: #ccc;
  content: close-quote;
  /*font-size: 2.9em;*/
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.callout {
  font-size: 72px;
}

#headshot {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 3em 0 0 1em;
}

.learn-more a {
  text-decoration: none;
  color: white;
}

.learn-more {
  margin: auto;
  margin-bottom: 25px;
  text-align: center;
}

.learn-more:hover {
    color: rgba(255,255,255,0.9);
}



/*--- About Me Section ---*/

#me {
  /*height: auto;*/
  padding: 4.5em calc(50% - 450px);
  background-color: #f1f1f1;
  text-align: center;
  overflow: scroll;
  /*display: flex;*/
  background-image: linear-gradient(.25turn, rgba(0,0,0,0.0), rgba(0,0,0,0.9)), url("./img/three-women/rehearsal-photos/(c)MadodaMkhobeni(110).jpg"); /*pen-idea-bulb-paper_opt*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#me h1 {
  /*color: ivory;*/
  border-bottom: none;
}

#me .overview {
  padding: 2em;
  float: none;
  background-color: rgba(0, 0, 0, 0.9)
}

.margin {
  margin: 0 0 1em;
}

#me p, #teaching p {
    line-height: 1.8;
    margin-top: 30px;
    text-align: left;
}


/*---Publications---*/

#publications {
  /*height: auto;*/
  padding: 5.5em;
  align-items: center;
  text-align: center;
  /*display: flex;*/
  /*margin-top: 5em;*/
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("./img/IMG_6410.jpg"); /*pen-idea-bulb-paper_opt*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.og-grid {
  list-style: none;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.og-grid li {
  display: inline-block;
  margin: 10px 5px 0 5px;
  vertical-align: top;
  height: 250px;
}

.og-grid li > a,
.og-grid li > a img {
  border: none;
  outline: none;
  display: block;
  position: relative;
}

.og-grid li.og-expanded > a::after {
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #ddd;
  border-width: 15px;
  left: 50%;
  margin: -20px 0 0 -15px;
}

.og-expander {
  position: absolute;
  background: #ddd;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
}

.og-expander-inner {
  padding: 50px 30px;
  height: 100%;
}

.og-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.og-close::before,
.og-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #888;
  transform: rotate(45deg);
}

.og-close::after {
  transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
  background: #333;
}

.og-fullimg,
.og-details {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.og-details {
  padding: 0 40px 0 20px;
}

.og-fullimg {
  text-align: center;
}

.og-fullimg img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}


.og-details h3 {
  font-weight: 300;
  font-size: calc(0.5rem + 2.5vmin);
  padding: 40px 0 10px;
  margin-bottom: 10px;
}

.og-details h4 {
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  font-weight: 500;
  /*font-style: italic;*/
}

.og-details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #999;
}

.og-details a, #freedomsung a, .newscontent a {
  font-weight: 700;
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  border: 3px solid #333;
  display: inline-block;
  margin: 30px 0 0;
  outline: none;
}

.og-details a::before, #freedomsung a::before, .newscontent a::before {
  content: '\2192';
  display: inline-block;
  margin-right: 10px;
}

.og-details a:hover, #freedomsung a:hover, .newscontent a:hover {
  border-color: #999;
  color: #999;
}

.newscontent a{
  color: #D19C1D/*#094074*/;/*#D6C3C9;*/
}

.og-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 850px) {

  .og-expander h3 { font-size: 32px; }
  .og-expander p { font-size: 13px; }
  .og-expander a { font-size: 12px; }

}

@media screen and (max-width: 1000px) {

  .og-fullimg { display: none; }
  .og-details { float: none; width: 100%; }
  
}

.pub-image {
    margin: 0 0 5px 0;
    width: 100%;
    height: 180px;
    width: 192px;
}

/*---Teaching---*/

#teaching, #news, #freedomsung, #pEthnography {
  /*height: 100%;*/
  padding: 5.5em calc(50% - 450px);
  background-color: #f0f0f0;
  text-align: center;
  overflow: scroll;
}

#teaching {
  padding: 5.5em /*calc(50% - 450px)*/;
  /*overflow: clip;*/
  /*flex-shrink: 0;*/
  flex-wrap: wrap;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url("./img/teaching.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#teaching>* {
  flex: 1 1 360px;
}

#teaching p, #teaching ul, #teaching h2 {
  line-height: 1.5;
  text-align: left;
  padding: .2em;
}

#teaching li, #teaching ul, #teaching h3 {
  text-align: center;
  text-indent: 2em;
  list-style: none; 
}

#teaching h3 {
  padding-top: .7em;
}

#teaching .row {
  background-color: blue;
  flex-shrink: 0;
  flex-flow: row wrap;
  /*flex-wrap: wrap;*/
}

#teaching .performance-card {
  margin: 1em;
}

#teaching .skills {
  background-color: inherit;
  padding-top: 1em;
  padding-left: 0;
}


/*---Performance---*/

#pEthnography {
  /*height: auto;*/
  background-image: /*linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), */url("./img/three-women/performance-photos/(c)MadodaMkhobeni(7).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /*background-color: #699989;*/
}

#pEthnography h1 {
  color: ivory;
}

.performance-grid {
  display: grid;
}

.performance-card, .gallery {
  position: relative;
  padding: 13px;
  background: #fff;
  float: left;
  width: 100%;
  margin-bottom: 13px;
  /*opacity: .95;*/
}

.performance-card p, .performance-card em {
  /*font-family: 'Archivo Narrow';*/
  font-size: 16px;
  line-height: normal;
  /*margin: 0 0 15px;*/
}

.performance-card #flagship {
  height: 350px;
  background-image: /*linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), */url("./img/three-women/performance-photos/(c)MadodaMkhobeni(56).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /*margin: 3em 0 0 1em;*/
}

#teaching .performance-card {
  float: none;
}

.gallery {
  margin: 5px;
  padding: 5px;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  max-width: 50%;
}

.centerIcon {
    text-shadow: 0 0 20px black;
    color: white;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px !important;
}

.centerIcon:hover {
    color: gold/*#9932CC*/;
}

#gallery-rehearsal {
  height: 450px;
  background-image: /*linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), */url("./img/three-women/rehearsal-photos/(c)MadodaMkhobeni(53).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery-performance {
  height: 450px;
  background-image: /*linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), */url("./img/three-women/performance-photos/(c)MadodaMkhobeni(70).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overview {
  border: solid 3px #fff;
  color: #fff;
  float: left;
  width: 100%;
  height: auto !important;
  background-color: rgba(0, 0, 0, 0.6);
}

.newscontent .overview {
  /*color: #D6C3C9;*/
  border-color: #3C6997;
}

.overview h2 {
    font-size: 35px;
    padding: 15px;
    color: #fff;
    line-height: 30px;
    /*font-family: 'Knockout 50 A', 'Knockout 50 B';*/
    font-weight: 400;
    font-style: normal;
}

.overview h3 {
  /*font-family: 'Knockout 50 A', 'Knockout 50 B';*/
  font-weight: 400;
  font-style: normal;
}

.overview p {
  /*font-family: 'Knockout 50 A', 'Knockout 50 B';*/
  font-weight: 400;
  font-style: normal;
}

/*---***modal gallery***---*/

#rehearsalModal h3, #performanceModal h3 {
  color: white;
  background: black;
}

#pEthnography .row {
  flex-shrink: 0;
  /*flex-direction: row;*/
}

.flex-wrap {
  flex-wrap: wrap;
}

.media-row > .column {
  padding: 0 8px;
}

.media-row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 15%;
  height:15%;
  margin: 5px;
}


/* The Modal (background) */
.modal {
  display: none;
  position: relative;
  z-index: 2;
  padding-top: 50px;
  left: 0;
  flex:100%;
  /*top: 3.5em;*/
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  /*padding: 5.5em calc(50% - 450px);*/
}

/* Modal Content */

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.rehearsalSlides, .performanceSlides {
  display: none;
  background: black;
  /*max-height:50%;*/
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev {
  left: 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.rehearsalSlides img, .performanceSlides img {
  /*width:50% !important;*/
  /*height: calc(50% - 1em);
  max-height: 50%;*/
  margin-bottom: -4px;
}

.column img {
  object-fit: cover;
  max-height: 190px !important;
  /*height: auto;*/
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.rehearsalDots, .performanceDots {
  opacity: 0.6;
}

.active,
.rehearsalDots:hover, .performanceDots:hover {
  opacity: 1;
}

.rehearsalSlides img.hover-shadow, .performanceSlides img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*---Freedom Sung---*/
#freedomsung {
  background-image: /*linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), */url("./img/freedom-sung/03Bannerv2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/*---Projects---*/

#projects {
    padding: 3em calc(50% - 450px);
    background-color: #31044f;
    color: white;
}

#projects .title {
    text-align: center;
    font-weight: bold;
    color: #bdc3c7;
}

.project {
    background: white;
    display: flex;
    margin: 20px 0px;
    border-bottom: 1px solid white;
}

.project .description {
    flex: 1;
    padding-top: 100px;
}

.project .project-img {
    flex: 1;
}

.project .project-img img {
    width: 400px;
}

.project h4 {
    color: #DAA520;
}

.project button {
    padding: 6px 30px;
    font-size: 15px;
    border: 2px solid #f1c40f;
    background-color: #2c3e50;
    border-radius: 25px;
    color: white;
    margin-top: 20px;
    font-weight: bold;
}

.project button a {
    text-decoration: none;
}

.project button:hover {
    color: #2c3e50;
    background-color: white;
    border: 2px solid white;
    transform: scale(1.1);
}

.project header {
    display: flex;
}

.project header i {
    padding-top: 10px;
    padding-left: 40px;
}


.parallax_bg {
    display: block;
    /*position: absolute;*/
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("./img/stacked-books.jpeg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    /*transform: translate(0px, 26.2875px);*/
}

.parallax_bg2 {
    background-image: url("./img/teachingleaf.jpeg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}


.content {
  box-sizing:border-box;-moz-box-sizing:border-box;
  position:relative;
  z-index:2;
  background:#FFF;
  width:100%;
  margin:0;
  padding:10px 20px;
  -webkit-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  text-align:left;
}

.fab { 
  font-family: 'Font Awesome 5 Brands' !important; 
  /*font-weight: 900;*/
}

.fas {
  font-family: 'Font Awesome\ 5 Free' !important; 
}

.my-fa-linkedin:before {
  content: "\f08c";
}

.my-fa-envelope:before {
  content: "\f0e0";
}

.my-fa-medium:before {
  content: "\f23a";
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 4.5em;
}

footer a {
    margin-left: 30px;
}

footer a:hover {
    color: #f1c40f;
}

footer .social-media {
    display: flex;
    justify-content: center;
}

.more-project {
    text-align: center;
}